{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% from "macros-protocol.html" import hero, card %}

{% extends "firefox/base/base-protocol.html" %}

{% block page_title %}Tech Election Issues{% endblock %}
{% block page_desc %}Ask the candidates a question, and click to upvote questions you like.{% endblock %}
{% block page_image %}{{ static('img/firefox/election/share.jpg') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_election') }}
{% endblock %}

{% block body_id %}election{% endblock %}

{% block body_class %}election{% endblock %}

{% block site_header %}
  {% include 'includes/protocol/navigation/menu-firefox/index.html' %}
{% endblock %}

{% block content %}
<main class="mzp-t-firefox">
  {% call hero(
    title='Are tech issues important to you in this election?',
    class='mzp-t-firefox mzp-has-image t-election',
    image_url='img/firefox/election/hero.jpg',
    include_highres_image=True,
    heading_level=1,
    include_cta=True,
    ) %}
    <p>Tech disrupts every part of our lives, for better or worse. Even after the internet significantly influenced the 2016 election, tech has only come up this election cycle in the first ten minutes of the first debate back in 2019.</p>

    <p>Let’s try to change that.</p>

    <p>We’re believers in participation and shaking up the status quo. That’s why we’re inviting you to ask the presidential candidates about the tech issues that matter to you. </p>

    <p>Below you can ask the candidates a question, and upvote questions you like. We’ll share a collection of the questions with the candidates and publish their answers.</p>
  {% endcall %}

  <div class="mzp-l-content">
    <div id="coral_thread"></div>
    <script type="text/javascript">
      (function() {
          var d = document, s = d.createElement('script');
          s.src = 'https://firefox.coral.coralproject.net/assets/js/embed.js';
          s.async = false;
          s.defer = true;
          s.onload = function() {
              Coral.createStreamEmbed({
                  id: "coral_thread",
                  autoRender: true,
                  rootURL: 'https://firefox.coral.coralproject.net',
                  // Uncomment these lines and replace with the ID of the
                  // story's ID and URL from your CMS to provide the
                  // tightest integration. Refer to our documentation at
                  // https://docs.coralproject.net for all the configuration
                  // options.
                  // storyID: '${storyID}',
                  // storyURL: '${storyURL}',
              });
          };
          (d.head || d.body).appendChild(s);
      })();
    </script>
  </div>

  <div class="mzp-l-content">
    <h2>More election content from Firefox</h2>
    <div class="mzp-l-card-quarter">
      {{ card(
        class='mzp-c-card-small',
        title=_('Are you registered to vote?'),
        ga_title='vote',
        desc=_('Left. right, or center. Blue, red, or green. Whatever your flavor, check your voter registration status so you can actually vote.'),
        image_url='img/firefox/election/vote.jpg',
        include_highres_image=True,
        aspect_ratio='mzp-has-aspect-16-9',
        link_url='https://blog.mozilla.org/firefox/voter-registration-status/?utm_source=www.mozilla.org&utm_medium=referral&utm_campaign=election&utm_content=card'
      )}}
      {{ card(
        class='mzp-c-card-small',
        title=_('Your 2020 election podcast playlist'),
        ga_title='podcast',
        desc=_('How much does the internet impact our votes? Are online election influence campaigns effective? These 5 podcast episodes explore.'),
        image_url='img/firefox/election/podcast.jpg',
        include_highres_image=True,
        aspect_ratio='mzp-has-aspect-16-9',
        link_url='https://blog.mozilla.org/firefox/your-2020-election-podcast-playlist/?utm_source=www.mozilla.org&utm_medium=referral&utm_campaign=election&utm_content=card'
      )}}
      {{ card(
        class='mzp-c-card-small',
        title=_('More privacy means more democracy'),
        ga_title='democracy',
        desc=_('Online privacy enables freedom of association, truth, and discovery of perspectives: all core components of a healthy democracy.'),
        image_url='img/firefox/election/privacy.png',
        include_highres_image=True,
        aspect_ratio='mzp-has-aspect-16-9',
        link_url='https://blog.mozilla.org/firefox/more-privacy-means-more-democracy/?utm_source=www.mozilla.org&utm_medium=referral&utm_campaign=election&utm_content=card'
      )}}
      {{ card(
        class='mzp-c-card-small',
        title=_('Keep Facebook contained'),
        ga_title='container',
        desc=_('Facebook lets political advertisers target you by tracking your activity on and off their platform. Explore the web without them watching.'),
        image_url='img/firefox/election/contain.png',
        include_highres_image=True,
        aspect_ratio='mzp-has-aspect-16-9',
        link_url='https://addons.mozilla.org/en-US/firefox/addon/facebook-container/?utm_source=www.mozilla.org&utm_medium=referral&utm_campaign=election&utm_content=card'
      )}}
    </div>
  </div>

</main>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_election') }}
{% endblock %}
