{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% from "macros-protocol.html" import hero, card %}

{% extends "firefox/base/base-protocol.html" %}

{% block page_title %}EU Election{% endblock %}
{% block page_desc %}Decode political ad targeting and keep trackers off your trail with these resources and tools.{% endblock %}
{% block page_image %}{{ static('img/firefox/election/share.png') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_election') }}
{% endblock %}

{% block body_id %}election{% endblock %}

{% block body_class %}election{% endblock %}

{% block site_header %}
  {% include 'includes/protocol/navigation/menu-firefox/index.html' %}
{% endblock %}

{% block content %}
<main class="mzp-t-firefox">
  <div class="mzp-l-content">
    <h1>Elections TKTK</h1>
    <div class="mzp-l-card-half">
      {{ card(
          class='mzp-c-card-medium',
          title=_('Are tech issues important to you in this election?'),
          ga_title='Tech issues',
          desc=_('In one of the most consequential elections we’ve seen in decades, tech hasn’t come up much. We are asking you to help change that.'),
          image_url='img/firefox/election/placeholder.jpg',
          include_highres_image=True,
          aspect_ratio='mzp-has-aspect-16-9',
          link_url=url('firefox.election.questions')
      )}}
      {{ card(
        class='mzp-c-card-medium',
        title=_('Turbovote'),
        ga_title='Vote',
        desc=_('TKTK'),
        image_url='img/firefox/election/placeholder.jpg',
        include_highres_image=True,
        aspect_ratio='mzp-has-aspect-16-9',
        link_url=url('firefox.election.questions')
    )}}
    </div>
    <div class="mzp-l-card-third">
      {{ card(
          class='mzp-c-card-medium',
          title=_('What to Expect When You’re Electing'),
          ga_title='IRL',
          desc=_('Examine how the internet is changing our minds, our votes, and our democracies – all over the world.'),
          image_url='img/firefox/election/irl.jpg',
          include_highres_image=True,
          aspect_ratio='mzp-has-aspect-16-9',
          link_url='https://irlpodcast.org/season3/episode7/'
      )}}
      {{ card(
        class='mzp-c-card-medium',
        title=_('5 things you can do to counter misinformation'),
        ga_title='misinformation',
        desc=_('We had hope that the internet would enable more accountability, openness, and trust in government. What many did not expect was the amount of misinformation.'),
        image_url='img/firefox/election/misinfo.jpg',
        include_highres_image=True,
        aspect_ratio='mzp-has-aspect-16-9',
        link_url='https://blog.mozilla.org/internetcitizen/2018/10/04/5-things-you-can-do-to-counter-misinformation/'
      )}}
      {{ card(
        class='mzp-c-card-medium',
        title=_('What is microtargeting and what is it doing in our politics?'),
        ga_title='microtargeting',
        desc=_('Microtargeting is a marketing strategy that uses people’s data to segment them into small groups for content targeting.'),
        image_url='img/firefox/election/micro.jpg',
        include_highres_image=True,
        aspect_ratio='mzp-has-aspect-16-9',
        link_url='https://blog.mozilla.org/internetcitizen/2018/10/04/microtargeting-dipayan-ghosh/'
      )}}
    </div>
  </div>

</main>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_election') }}
{% endblock %}
