// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import "../../protocol/css/includes/lib";
@import '../../protocol/css/templates/card-layout';
@import '../../protocol/css/components/hero';
@import '../../protocol/css/components/modal';


// .mzp-c-hero-title {
//     background-image: url('/media/protocol/img/logos/firefox/browser/logo-word-hor-md.png');
//     background-size: auto 32px;
//     background-repeat: no-repeat;
//     background-position: top left;
//     padding-top: $layout-lg;
// }

//* -------------------------------------------------------------------------- */
// YouTube iframe responsive in modal.

.ytcontainer-video {
    max-width: 100%;

    .video-container {
        height: 0;
        margin-bottom: $spacing-lg;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        width: 100%;
    }

    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top:0;
        width: 100%;
    }
}
